/* definir aquí la paleta de colores */

/* ejemplo */

:root {
    --background: #0d0d0d;       /* Negro intenso */
    --text: #cccccc;            /* Gris plateado */
    --topBar: #1a1a1a;          /* Gris negro */
    --topBarText: #f2f2f2;      /* Blanco roto */
    --sideMenu: #262626;        /* Gris oscuro */
    --table: #333333;           /* Gris medio */
    --accent: #8c8c8c;          /* Gris metalizado (detalles) */
}